<%- include('../partials/header') %>
<%- include('../partials/nav_bar') %>

 <main class="container column-layout">
      <h1>JOGOS</h1>
      
      
      <table id='table' class="table table-hover">
          <thead>
              <tr>   
              <th scope='col'>Data</th>
              <th scope="col">Bolão</th>
              <th scope="col">Time Mandante</th>
              <th scope="col"> </th>
              <th scope="col"> </th>
              <th scope="col">x</th>
              <th scope="col"> </th>
              <th scope="col"> </th>
              <th scope="col">Time Visitante </th>
              <th scope="col">Editar</th>
              </tr>
          </thead>
          <tbody>              
              
            <% bolao.forEach(item => { %>
            <% item.jogos.forEach(jogo => { %>
                <% let dataJogo = new Date(jogo.date); %>             
              
              <!-- Jogo a editar -->
              <% if (jogo._id == jogoID) { %>
              <tr>                
                <form class="form" method="POST">                               
                <td style='text-align:center;vertical-align:middle'><input type="date" class="form-control" id="dateTextField" name="date"></td>
                <td style='text-align:center;vertical-align:middle'><%= item.bolao %></td> 
                <td style='text-align:center;vertical-align:middle'><%= jogo.time1 %></td>
                <td style='text-align:center;vertical-align:middle'> <% item.times.forEach(img => { %> <% if(jogo.time1 == img.name) { %> <img src="<%= img.img %>" class="rounded-circle" alt="" style="object-fit:cover;
            width:50px;
            height:50px;
            border: none"/><% }}); %></td>
                <td style='text-align:center;vertical-align:middle'><%= jogo.resultado_time1 %></td>
                <td style='text-align:center;vertical-align:middle'>x</td>
                <td style='text-align:center;vertical-align:middle'><%= jogo.resultado_time2 %></td>
                <td style='text-align:center;vertical-align:middle'><% item.times.forEach(img => { %> <% if(jogo.time2 == img.name) { %> <img src="<%= img.img %>" class="rounded-circle" alt="" style="object-fit:cover;
            width:50px;
            height:50px;
            border: none"/><% }}); %></td>
                <td style='text-align:center;vertical-align:middle'> <%= jogo.time2 %></td>                
                <td style='text-align:center;vertical-align:middle'><button class="btn btn-primary" type="submit" style="margin: 0 15px;" >
                    <i class="far fa-save"></i> Salvar</button>&nbsp; <a href="/" class="btn btn-warning" style="margin: 0 15px;">
                      <i class="fas fa-undo"></i> Cancelar</a></td>                
            </tr>
            
            <% } else { %>

              <tr>                
                <form class="form" method="POST">                               
                <td style='text-align:center;vertical-align:middle'><%= dataJogo.toDateString() %></td>
                <td style='text-align:center;vertical-align:middle'><%= item.bolao %></td> 
                <td style='text-align:center;vertical-align:middle'><%= jogo.time1 %></td>
                <td style='text-align:center;vertical-align:middle'> <% item.times.forEach(img => { %> <% if(jogo.time1 == img.name) { %> <img src="<%= img.img %>" class="rounded-circle" alt="" style="object-fit:cover;
            width:50px;
            height:50px;
            border: none"/><% }}); %></td>
                <td style='text-align:center;vertical-align:middle'><%= jogo.resultado_time1 %></td>
                <td style='text-align:center;vertical-align:middle'>x</td>
                <td style='text-align:center;vertical-align:middle'><%= jogo.resultado_time2 %></td>
                <td style='text-align:center;vertical-align:middle'><% item.times.forEach(img => { %> <% if(jogo.time2 == img.name) { %> <img src="<%= img.img %>" class="rounded-circle" alt="" style="object-fit:cover;
            width:50px;
            height:50px;
            border: none"/><% }}); %></td>
                <td style='text-align:center;vertical-align:middle'> <%= jogo.time2 %></td>                
                <td style='text-align:center;vertical-align:middle'></td>                
            </tr>
            <% } %>
            <% }); %>
            <% }); %>


          </tbody>
      </table>     
    </main>


  <%- include('../partials/bottom_nav') %>
  <%- include('../partials/footer') %>