<%- include('../partials/header') %>
<%- include('../partials/nav_bar') %>

<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
        <br>
            <h1><%= title %></h1>

            <form class="form" method="POST">                              
                <p><div class="form-group">
                    <label for="publishedTextField"><b>Login:</b> <%= userToEdit.username %></label><br />
                </div></p>
                <p>
                <div class="form-group">
                    <label for="authorTextField"><b>Nova Senha:</b></label><br />
                    <input type="password" class="form-control"
                    id="password" placeholder='Nova senha'                    
                    name="password" required>
                </div>
                </p>             
                                    

                <p><div style='text-align: center;'><button class="btn btn-primary" type="submit" style="margin: 0 15px;" >
                    <i class="far fa-save"></i> Salvar</button>
                
                    <a href="/admin" class="btn btn-warning" style="margin: 0 15px;">
                        <i class="fas fa-undo"></i> Cancelar</a></div></p>

            </form>
        </div>

    </div>
</div>

  <%- include('../partials/bottom_nav') %>
  <%- include('../partials/footer') %>