<%- include ../partials/header.ejs %>

<%- include ../partials/nav_bar.ejs %>

<main class="container column-layout">
    <!-- Message Area -->
    <% if(messages.length > 0) {%>
        <div class="alert alert-danger">
            <%= messages %>
        </div>
    <% } %>

      <h1>Cadastre-se:</h1>
      <form method="POST" autocomplete="off">

                <fieldset class="form-group">                
                    <label for="name" class="form-label">Nome: </label><br />
                    <p><input type="text" class="form-control"
                    name="name" placeholder="Nome completo"
                    id="name" class="form-control" required></p>
                    </fieldset>
                <fieldset class="form-group">                
                    <label for="username" class="form-label">E-mail: </label><br />
                    <p><input type="text" class="form-control"
                    name="username" placeholder="Seu e-mail"
                    id="username" class="form-control" required></p>
                    </fieldset>
                <fieldset class="form-group">
                    <label for="password" class="form-label">Senha: </label><br />
                    <p><input type="password" class="form-control"
                    name="password" placeholder="Senha"
                    id="password" required></p><br />
                    
                </fieldset>

                <fieldset class="form-group text-right">
                    <input type="submit" class="btn btn-success" value="Cadastrar">
                    <a href="/">
                        <input type="button" class="btn btn-warning" value="Cancelar">
                    </a>
                </fieldset>
                </form>

    
    <br>  
      <section class="text-content">        
      </section>
    </main>

<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>